In [50]:
import numpy as np
import pandas as pd

In [51]:
from nba_api.stats.static import players
player_dict = players.get_players()

from nba_api.stats.static import teams
teams = teams.get_teams()

In [52]:
selected_player = [player for player in player_dict
                  if player['full_name'] == 'RJ Barrett'][0]
selected_player

{'id': 1629628,
 'full_name': 'RJ Barrett',
 'first_name': 'RJ',
 'last_name': 'Barrett',
 'is_active': True}

In [53]:
p_id = selected_player['id']

In [78]:
from nba_api.stats.endpoints import commonplayerinfo

player_info = commonplayerinfo.CommonPlayerInfo(player_id=p_id)
player_info_dict = player_info.get_dict()
keys = player_info_dict['resultSets'][0]['headers']
values = player_info_dict['resultSets'][0]['rowSet']

df_player_info = pd.DataFrame(list(values),columns = list(keys)) 
df_player_info

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,TEAM_CITY,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,1629628,RJ,Barrett,RJ Barrett,"Barrett, RJ",R. Barrett,rj-barrett,2000-06-14T00:00:00,Duke,Canada,...,New York,rj_barrett,2019,2020,N,Y,Y,2019,1,3