In [8]:
import numpy as np
import pandas as pd

In [9]:
from nba_api.stats.static import players
player_dict = players.get_players()

from nba_api.stats.static import teams
teams = teams.get_teams()

In [10]:
selected_player = [player for player in player_dict
                  if player['full_name'] == 'RJ Barrett'][0]
selected_player

{'id': 1629628,
 'full_name': 'RJ Barrett',
 'first_name': 'RJ',
 'last_name': 'Barrett',
 'is_active': True}

In [11]:
p_id = selected_player['id']

In [12]:
from nba_api.stats.endpoints import commonplayerinfo

player_info = commonplayerinfo.CommonPlayerInfo(player_id=p_id)
player_info_dict = player_info.get_dict()
keys = player_info_dict['resultSets'][0]['headers']
values = player_info_dict['resultSets'][0]['rowSet']

df_player_info = pd.DataFrame(list(values),columns = list(keys)) 
df_player_info

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,1629628,RJ,Barrett,RJ Barrett,"Barrett, RJ",R. Barrett,rj-barrett,2000-06-14T00:00:00,Duke,Canada,...,rj_barrett,2019,2021,N,Y,Y,2019,1,3,N

In [13]:
from nba_api.stats.endpoints import playergamelog, shotchartdetail

In [15]:
game_log = playergamelog.PlayerGameLog(player_id=p_id, season_type_all_star='Regular Season', season='2021-22')
game_log = game_log.get_data_frames()[0]
game_log.sort_values(by='GAME_DATE', ascending=False)
game_log.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22021,1629628,0022100974,"MAR 07, 2022",NYK @ SAC,W,37,11,21,0.524,...,8,8,6,0,0,3,5,29,23,1
1,22021,1629628,0022100966,"MAR 06, 2022",NYK @ LAC,W,33,8,18,0.444,...,9,9,4,0,0,2,3,24,36,1
2,22021,1629628,0022100953,"MAR 04, 2022",NYK @ PHX,L,44,6,26,0.231,...,3,5,5,0,0,3,2,20,-12,1
3,22021,1629628,0022100934,"MAR 02, 2022",NYK @ PHI,L,40,10,23,0.435,...,5,6,7,0,0,3,3,30,-11,1
4,22021,1629628,0022100912,"FEB 27, 2022",NYK vs. PHI,L,38,9,22,0.409,...,4,5,6,2,0,4,1,24,-20,1